body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    user-select: none;
}

html {
    background-color: black;
}

/* balon  */

.balloon {
    display: inline-block;
    width: 120px;
    height: 145px;
    background: #349c34;
    border-radius: 80%;
    box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
    margin: 20px 30px;
    animation-timing-function: ease-out;
    will-change: transform, opacity;
    animation: slide 1s 1 linear forwards;
    -webkit-animation: slide 1s 1 linear forwards;
    -moz-animation: slide 1s 1 linear forwards;
    position: absolute;    
}
.b1 {
    left: 60%;
    animation-duration: 10s;
    animation-delay: 0s;
    bottom: -850px;
    animation-name: downTopAnimation, swing;
    -webkit-animation-name: downTopAnimation, swing;
    -moz-animation-name: downTopAnimation, swing;
    opacity: 1;
}
.balloon:before {
    content: "▲";
    font-size: 20px;
    color: #349c34;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -12px;
    z-index: -100;
    transition: opacity 1s ease-in-out;
}
.balloon:after {
    display: inline-block;
    top: 153px;
    position: absolute;
    height: 120px;
    width: 1px;
    right: 0;
    left: 0;
    margin: 0 auto;
    content: "";
    background: linear-gradient(132deg, rgba(247,202,54,1) 0%, rgba(204,167,47,1) 67%);
}

@keyframes downTopAnimation {
    0% {
      bottom: -150px;
    }
    100% {
      bottom: 100%;
    }
}

@-moz-keyframes downTopAnimation {
    0% {
      bottom: -150px;
    }
    100% {
      bottom: 100%;
    }
}

@-webkit-keyframes downTopAnimation {
    0% {
      bottom: -150px;
    }
    100% {
      bottom: 100%;
    }
}

@keyframes swing { 
   20% { transform: rotate(15deg); } 
   40% { transform: rotate(-10deg); } 
   60% { transform: rotate(5deg); } 
   80% { transform: rotate(-5deg); } 
   100% { transform: rotate(0deg); } 
} 

@-moz-keyframes swing { 
    20% { transform: rotate(15deg); } 
    40% { transform: rotate(-10deg); } 
    60% { transform: rotate(5deg); } 
    80% { transform: rotate(-5deg); } 
    100% { transform: rotate(0deg); } 
} 

@-webkit-keyframes swing { 
    20% { transform: rotate(15deg); } 
    40% { transform: rotate(-10deg); } 
    60% { transform: rotate(5deg); } 
    80% { transform: rotate(-5deg); } 
    100% { transform: rotate(0deg); } 
} 

/* animacija vila tresnjica */
.container1 {
    height: 30vh;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}
   
.header {
    margin: 0.25rem 0;
}
   
.overflow-hidden {
    overflow: hidden;
}
   
.drop-in {
    animation: drop-in 1s ease 200ms backwards;
    -webkit-animation: drop-in 1s ease 200ms backwards;
    -moz-animation: drop-in 1s ease 200ms backwards;
}
   
.drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
    -webkit-animation: drop-in 1200ms ease 500ms backwards;
    -moz-animation: drop-in 1200ms ease 500ms backwards;
}
   
@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
 }

@-moz-keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}

@-webkit-keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}

/* gumbi */
.buttons-div {
    margin-top: -10px;
}

.custom-shadow {
    box-shadow: 0 0 5px black !important;
}

.btn1 {
    width: 30%;
    max-width: 150px;
    min-width: fit-content;
    /* margin-bottom: -20px; */
}

.button1 {
    background-color:#3F84B9;
}

.button1:hover, .button1:focus, .button1:active, .button1.active, .open>.dropdown-toggle.button1 {
    color: #336a94;
    background-color:#336a94;
}

.button2 {
    background-color: #494AA3;
}

.button2:hover, .button2:focus, .button2:active, .button2.active, .open>.dropdown-toggle.button2 {
    color: #3b3c84;
    background-color:#3d3e84;
}

.button3 {
    background-color: #8FDB83;
}

.button3:hover, .button3:focus, .button3:active, .button3.active, .open>.dropdown-toggle.button3 {
    color: #79bc6f;
    background-color:#79bc6f;
}

.button4 {
    background-color: #bb99ff;
}

.button4:hover, .button4:focus, .button4:active, .button4.active, .open>.dropdown-toggle.button4 {
    color: #9966ff;
    background-color:#9966ff;
}


.box1 {
    background-color: #3F84B9;
}

.box2 {
    background-color: #FF6190;
}

.row {
    padding: 1rem;
}

/* background colors */
.colorLiberty {
    background-color: #F7CA36;
}

.footercolor {
    background-color: #494AA3;
}

.bg-image {
    background-repeat: none;
    background-size: cover;
}

.footercolor .small p{
    text-transform: lowercase;
}

.footercolor .small p::first-letter{
    text-transform: capitalize;
}

/* animacija na mainu  */

.scale-up-left {
	animation: scale-up-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -webkit-animation: scale-up-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: scale-up-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-left {
    0% {
      transform: scale(0.5);
      transform-origin: 0% 50%;
    }
    100% {
      transform: scale(1);
      transform-origin: 0% 50%;
    }
  }

@-moz-keyframes scale-up-left {
    0% {
      transform: scale(0.5);
      transform-origin: 0% 50%;
    }
    100% {
      transform: scale(1);
      transform-origin: 0% 50%;
    }
}

@-webkit-keyframes scale-up-left {
    0% {
      transform: scale(0.5);
      transform-origin: 0% 50%;
    }
    100% {
      transform: scale(1);
      transform-origin: 0% 50%;
    }
}

.scale-up-right {
	animation: scale-up-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -webkit-animation: scale-up-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: scale-up-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-right {
    0% {
      transform: scale(0.5);
      transform-origin: 100% 50%;
    }
    100% {
      transform: scale(1);
      transform-origin: 100% 50%;
    }
}

@-moz-keyframes scale-up-right {
    0% {
      transform: scale(0.5);
      transform-origin: 100% 50%;
    }
    100% {
      transform: scale(1);
      transform-origin: 100% 50%;
    }
}

@-webkit-keyframes scale-up-right {
    0% {
      transform: scale(0.5);
      transform-origin: 100% 50%;
    }
    100% {
      transform: scale(1);
      transform-origin: 100% 50%;
    }
}

.grow {
    animation: grow 0.5s forwards;
}

@keyframes grow {
    from {
        font-size: 100%;
        font-weight: normal;
    }
    to {
        font-size: 105%;
        font-weight: bolder;
    }
}

.bold {
    font-weight: 600;
}

/* pozadinske boje dodatno Vila tresnjica */

.e1 {
    background-color: #336a94;
}
.e2 {
    background-color:#FF6190
}
.e3 {
    background-color:#349c34
}
.e4 {
    background-color:#3d3e84
}
.e5 {
    background-color:#c4a02b
}


/* overwrite default css rules */
.form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label {
    /* cursor: default; */
    opacity: 1 !important;
}


/* custom number input */

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 0;
    display: inline-flex;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    box-shadow: 0px 0px 1px #474747;
      border-radius: 50%;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: none;
    border-width: 0 2px;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
    color:#9be3df;
  }
  
  
  
  
  