body {
    /* font-family: 'Montserrat', sans-serif; */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

html {
    background-color: black;
}

/* balon  */

.balloon {
    display: inline-block;
    width: 120px;
    height: 145px;
    background: #349c34;
    border-radius: 80%;
    box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
    margin: 20px 30px;
    animation-timing-function: ease-out;
    will-change: transform, opacity;
    /* da ostane skroz gore */
    animation: slide 1s 1 linear forwards;
    position: absolute;    
}
.b1 {
    left: 60%;
    animation-duration: 10s;
    animation-delay: 0s;
    bottom: -850px;
    animation-name: downTopAnimation, swing;
    opacity: 1;
}
.balloon:before {
    content: "▲";
    font-size: 20px;
    color: #349c34;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -12px;
    z-index: -100;
    transition: opacity 1s ease-in-out;
}
.balloon:after {
    display: inline-block;
    top: 153px;
    position: absolute;
    height: 120px;
    width: 1px;
    right: 0;
    left: 0;
    margin: 0 auto;
    content: "";
    background: rgba(236, 236, 236, 0.2);
}

@keyframes downTopAnimation {
    0% {
      bottom: -150px;
    }
    100% {
      bottom: 100%;
    }
}

@keyframes swing { 
   20% { transform: rotate(15deg); } 
   40% { transform: rotate(-10deg); } 
   60% { transform: rotate(5deg); } 
   80% { transform: rotate(-5deg); } 
   100% { transform: rotate(0deg); } 
} 

/* animacija vila tresnjica */
.container {
    height: 30vh;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
   
.header {
    margin: 0.25rem 0;
    font-size: 2.5rem;
}
   
.overflow-hidden {
    overflow: hidden;
}
   
.drop-in {
    animation: drop-in 1s ease 200ms backwards;
}
   
.drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
}
   
@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
 }

/* gumbi */
.btn {
    width: 30%;
    max-width: 150px;
    margin-bottom: -20px;
}

.button1 {
    background-color:#00bfff
}

/* .btn:hover {
    background-color: rgba(208, 208, 208, 0.202);
} */

.button2 {
    background-color: #ff7f50;
}

.button3 {
    background-color: #349c34;
}

.box1 {
    background-color: #00bfff;
}

.box2 {
    background-color: #da70d6;
}

.row {
    padding: 1rem;
}
